.hud{
  position: absolute;
  width: 100%;
  top:0;
  left:0;
}
.in-game{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  font-family: 'GoodBrush';
  
}

.in-game .score{
  justify-self: flex-end;
  color: white;
  margin:5vh;
}
.in-game .back{
  font-size: 3rem;
  margin:5vh;
  font-family: 'GoodBrush';
  justify-self: flex-start;
  cursor: pointer;
  background: white;
}

.score-screen{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.score-screen-score{
  font-size: 25vh;
  flex: 1 1 50%
}