*{
  box-sizing: border-box;
}
@font-face {
  font-family: "GoodBrush";
  src: url(../public/assets/fonts/GoodBrush.ttf);
}

body {
  margin: 0;
  overflow:hidden;
  font-family: 'GoodBrush',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
